<!DOCTYPE html>
<html ng-app="newA">
	<head>
		<meta charset = "utf-8"/>
		<title>News Angular</title>
		<!--<link rel="stylesheet" type="text/css" href="css/styles.css">-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    	<script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    	<script src="angular-file-upload.min.js"></script>
    	<script src="app.js"></script>
  	</head>
  <body ng-controller="ArticleCtrlr">
    
    <!-- push a new message into the array -->
    <form ng-submit="addMessage(newMessageTitle,newMessageAuthor,newMessageDate,newMessageText)">
      <input ng-model="newMessageTitle" placeholder="title" />
      <input ng-model="newMessageAuthor" placeholder="author" />
      <input ng-model="newMessageDate" placeholder="date" />
      <input ng-model="newMessageText" placeholder="message" />
      <button type="submit">add message</button>
    </form>
  </body>
</html>