    <!-- pushes the new article into the array -->
    <div ng-if="currentUser"><!-- displays if the user is logged in -->
    <div id="nmessage">
    <form ng-submit="addMessage()">
    <!--<pre> {{ currentUser.facebook.cachedUserProfile |json }}</pre>-->
      <input class="title" ng-model="newMessage.title" placeholder="title" /><br>
      <input class="user" ng-model="newMessage.author" ng-model="currentUser.facebook.cachedUserProfile.name"/><br>
      <!-- <input ng-model="newMessage.date" placeholder="date" /> -->
      <textarea cols="50" rows="5" class="text" ng-model="newMessage.text" placeholder="message">
	  
	  </textarea><br>
    	<select ng-model="newMessage.tag1" placeholder="Tag1">
      		<option ng-selected="selected" value="None">None</option>
  			<option value="Economy">Economy</option>
  			<option value="Politics">Politics</option>
  			<option value="War">War</option>
  			<option value="foreign Issues">foreign Issues</option>
  			<option value="Good News">Good News</option>
  			<option value="Bad News">Bad News</option>
  			<option value="National News">National News</option>
  			<option value="Local News">Local News</option>
		</select>
		<select ng-model="newMessage.tag2" placeholder="Tag2">
      		<option ng-selected="selected" value="None">None</option>
  			<option value="Economy">Economy</option>
  			<option value="Politics">Politics</option>
  			<option value="War">War</option>
  			<option value="foreign Issues">foreign Issues</option>
  			<option value="Good News">Good News</option>
  			<option value="Bad News">Bad News</option>
  			<option value="National News">National News</option>
  			<option value="Local News">Local News</option>
		</select>
		<select ng-model="newMessage.tag3" placeholder="Tag3">
      		<option ng-selected="selected" value="None">None</option>
  			<option value="Economy">Economy</option>
  			<option value="Politics">Politics</option>
  			<option value="War">War</option>
  			<option value="foreign Issues">foreign Issues</option>
  			<option value="Good News">Good News</option>
  			<option value="Bad News">Bad News</option>
  			<option value="National News">National News</option>
  			<option value="Local News">Local News</option>
		</select>
      <button type="submit">Add Article</button>
    </form>
    </div>
    </div>
    <div ng-if="!currentUser"><!-- shows this if the user is not logged in -->
    	<p>Please consider logging in with your Facebook to use this feature.</p>
    </div>