
  	<!-- Page Content -->
    <div class="container">
    	

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8"> 

                <h1 class="page-header">
                    News Angular
                    <small>Write News Right Now</small>
                </h1>

                <!-- Blog Post Loops through all the articles, orders it bottom up and makes it searchable -->
            <ol ng-repeat="message in messages | orderBy:reverse | filter:searchArc">
      			<li>
                <h2>
                    {{message.title}}
                </h2>
                <p class="lead">
                    by {{message.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{message.date | date : 'shortDate'}}</p>
                <hr>
                	Article:</br>
                <p>{{message.text}}</p>
                <hr>
                	Tags:</br>
                	<a href="#">{{message.tag1}}</a> <a href="#/">{{message.tag2}}</a> <a href="#">{{message.tag3}}</a>
                
            
                <hr>
            	</li>
    		</ol>
            </div>

            <!-- Blog Search -->
                <div class="well" id="well1">
                    <h4>Article Search</h4>
                    <h6>Search tags, titles, authors and content</h6>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchArc">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>


                <!-- Displays new API news stories -->
                <div class="well" id="well3">
                    <h4>Current News</h4>
                    	<table class="table table-striped">
	
			<div ng-repeat="news in mashable | limitTo: 3">
				<h4><a ng-href="{{news.article_link}}"> {{news.article_title}}</a></h4>
				<p>{{news.article_details}}</p>
			</div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    
  